<!DOCTYPE html>
<div class="content-wrapper" style="min-height:615px;">

  <!-- Header for the Page Content -->
  <section class="content-header ">
    <h1>
      Feature Request
    </h1>
  </section>

  <section class="content">
    <div [hidden]="submitted">
      <form class="form-horizontal" (ngSubmit)="featureform.form.valid && onSubmit() " #featureform="ngForm" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': featureform.submitted && !name.valid }">
          <label class="col-sm-4 control-label">Name
            <code>*</code>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="Feature.name" #name="ngModel" required minlength="4"
              Pattern="^[a-z]*[0-9]*">
            <div *ngIf="name.errors && name.touched" class="alert alert-danger">
              <div *ngIf="name.errors.required">Name is required</div>
              <div *ngIf="name.errors.Pattern">Please enter a valid Name</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label">Client
            <code>*</code>
          </label>
          <div class="col-sm-8" [ngClass]="{ 'has-error': featureform.submitted && !name.valid }">
            <select class="form-control" id="Client" [(ngModel)]="Feature.Client" name="Client" required #client="ngModel">
              <option value="">--select--</option>
              <option *ngFor="let cli of Client" value="cli">{{cli}}</option>

            </select>
            <div *ngIf="client.errors && client.touched" class="alert alert-danger">
              <div *ngIf="client.errors.required">Name is required</div>


            </div>
          </div>
        </div>


        <div class="form-group" [ngClass]="{ 'has-error': featureform.submitted }">
          <label class="col-sm-4 control-label">Product
            <code>*</code>
          </label>
          <div class="col-sm-8">
            <select class="form-control" id="Product" [(ngModel)]="Feature.Product" name="Product" required #product="ngModel">

              <option value="">--select--</option>
              <option *ngFor="let pro of Product" value="pro">{{pro}}</option>
            </select>
            <div *ngIf="Product.errors && product.touched" class="alert alert-danger">
              <div *ngIf="product.errors.required">Product is required</div>


            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': featureform.submitted && !Date.valid}">
          <label class="col-sm-4 control-label">Date
            <code>*</code>
          </label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="Date" name="Date" required [(ngModel)]="Feature.Date" #Date="ngModel" pattern="">
            <div *ngIf="Date.errors && Date.touched" class="alert alert-danger">
              <div *ngIf="Date.errors.required">valid date is required</div>
              <div *ngIf="Date.errors.pattern">Please enter a valid Date</div>
            </div>
          </div>

        </div>
        <br>
        <div class="col-sm-8">
          <div class="form-footer">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <button type="reset" class="btn btn-danger pull-left" id="resetform">reset</button>
          </div>
        </div>

      </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ Feature.name }}</div>
  </div>


  <div class="row">
    <div class="col-xs-3">Client</div>
    <div class="col-xs-9 pull-left">{{ Feature.Client }}</div>
  </div>
  <!--   <div class="row">
          <div class="col-xs-3">Description</div>
          <div class="col-xs-9  pull-left">{{ Feature.Description }}</div> 
        </div>-->
  <div class="row">
    <div class="col-xs-3">Product Area</div>
    <div class="col-xs-9 pull-left">{{ Feature.Product}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Date</div>
    <div class="col-xs-9 pull-left">{{ Feature.Date}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="onEdit()">Edit</button>
</div>



</section>
</div>
